<% provide(:title, "ShimaneHonki") %>
<body>

  <section>
    <header>
  		<h2>島根県本気米コシヒカリ</h2>
  	</header>

    <header>
  		<h2><%= link_to "購入ページへ", 'https://tst0307sumir.thebase.in/items/10176489', {:target => "_blank", :class => "button"} %></h2>
  	</header>

    <div class="inner">
    	<ul class="col3">
    		<li>
    			<h2><%= link_to "美味しい理由", "#sec01" %></h2>
    		</li>
    		<li>
    			<h2><%= link_to "本気米栽培への思い", "#sec03" %></h2>
    		</li>
    	</ul>
    </div>
  </section>

  <section id="sec01">
    <header>
      <h2>美味しい理由</h2>
    </header>

    <div class="inner">
      <ul class="col2">
        <li>
          <p class="text">『隠岐牛の堆肥』によって健康な土を作り、カルシウム・亜鉛・ナトリウムなど豊富なミネラルを含んだ『いわがき春香のかき殻』を使った肥料作りを行っています。島の素材を余すことなく利用しています。<br>また、化学肥料や除草剤など農薬の使用量もこれまでの半分に抑え、安心安全な米づくりに配慮しています。<br>さらに、離島でありながら豊富な地下水があることも大きな特徴です</p>
        </li>
        <li>
          <%= image_tag '本気米3.png' %>
        </li>
      </ul>
    </div>
  </section>

  <section id="sec03">
    <header>
  		<h2>本気米栽培への思い</h2>
  	</header>
    <div class="message">
      <%= image_tag '本気米4.png' %><%= image_tag '本気米6.png' %>士町は隠岐島前で唯一水稲栽培が盛んで、米の自給率は100％を超えます。そんな海士町でも昨今の米価低迷や農家の高齢化、後継者不足のため、栽培意欲の低下や離農が喫緊の課題となっています。海士町の田んぼで水稲栽培をしなくなるということは、単に「海士産のお米を食べられなくなる」ということだけに留まらず、「80ha以上の水田が一斉に荒廃し、田園風景が消えてしまう」ことにもつながります。水稲栽培を続けていくことは、ふるさとの景観を守ることにもなるのです。<br><br>そこで『田んぼのある風景を島に残したい』<br>そんな思いを持った7人の農家さんが立ち上がりました。海士町にあるすべての田んぼの約半分(40ha)は、平均年齢65歳を超える、この7人の農家さんが守っています。限られた島の田んぼのお米だから、できれば顔の見える関係をつなぐお米にしたいと思っています。
    </div>
  </section>
</body>
