<% provide(:title, "Hokakido") %>
<body>

<section>
  <header>
		<h2>雪ほたか</h2>
	</header>

  <header>
		<h2><%= link_to "購入ページへ", 'https://tst0307sumir.thebase.in/items/10176489', {:target => "_blank", :class => "button"} %></h2>
	</header>

  <div class="inner">
  	<ul class="col3">
  		<li>
  			<h2><%= link_to "美味しい３つの理由", "#sec01" %></h2>
  		</li>
  		<li>
  			<h2><%= link_to "社会的評価", "#sec03" %></h2>
  		</li>
  		<li>
  			<h2><%= link_to "歴史", "#sec04" %></h2>
  		</li>
  	</ul>
  </div>
</section>

<section id="sec01">
  <header>
    <h2>美味しい３つの理由</h2>
  </header>

  <div class="inner">
    <ul class="col2">
      <li>
        <p class="text">①雪解け水<br>村の中にはミネラル豊富な日本百名山武尊山の雪解け水が豊富に流れ、一級河川三本を含む何本もの細い川が一枚一枚の田まで血管のように張り巡らされています。 その結果、良質な水を稲作に用いることができます。<p>
      </li>
      <li>
        <%= image_tag 'story1.jpg' %>
      </li>
    </ul>
  </div>
  <div class="inner">
    <ul class="col2">
      <li>
        <p class="text">②土作り<br>水田の土壌検定を行い微量要素など必要な養分を補給し、米の食味を良くする為、タンパクの少ない米を作ることを目標とし、窒素肥料を極力減らす栽培をしています。村をあげて「日本一うまい米作り」を目指したブランド化の取り組みを行っており、量よりも質を目指した結果として、伝統的に減肥栽培を行ってきました。 堆肥は完熟した物のみ入れ、分解を早める為にワラを雪の前にすき込んでいます。<p>
      </li>
      <li>
        <%= image_tag 'story2.jpg' %>
      </li>
    </ul>
  </div>
  <div class="inner">
    <ul class="col2">
      <li>
        <p class="text">③コシヒカリの栽培に適した気候<br>村の中心部役場付近の標高は400～500メートル前後であり、昔はコシヒカリの栽培できる標高の限界とも言われていました。しかし、ここ数年の地球温暖化の影響により平均気温が上昇、その結果高地でのみ全国的に品質の良いコシヒカリが採れるようになってきています。 日照時間が長く（過去10年間、年間照量は2000～2300時間）、高地であるため夏は涼しく、平均気温がコシヒカリの生育に適しています。それにより、近年問題になっている高温障害による乳白米の発生の少ない良質な米が採れます。 
        <p>
      </li>
      <li>
        <%= image_tag 'story3.jpg' %>
      </li>
    </ul>
  </div>
</section>

<section id="sec03">
  <header>
		<h2>社会的評価</h2>
	</header>
  <div class="message">
    <%= image_tag 'evaluation.jpg' %>国内最大規模の米の品評会「米・食味分析鑑定コンクール国際大会」（主催：米食味鑑定士協会<a href="http://www.syokumikanteisi.gr.jp/" target="_blank">http://www.syokumikanteisi.gr.jp/</a>）において、過去１０回の総合部門金賞を受賞している。<br>このコンクールは出品数の多さから、現在国内で最も権威あるコメの格付け機関と言われている。その大会で同一地域・同一銘柄で総合部門金賞を10回受賞した地域は川場村以外になく、日本一美味い米「川場村こしひかり」の名を全国に知らしめる要因となった。 <br>その他「お米日本一コンテスト」でも最高金賞を受賞。文字通り「日本一の米」に選ばれた。その他、数々のコンテストでも「川場村こしひかり」は上位に入賞し、コンテスト常連出品者の中で川場村の名を知らぬ者はいなくなった。<br>〈受賞歴〉<br>全国食味分析鑑定コンクール：国際総合部門金賞（2007、2008、2009、2010、2011、2012、2013、2014、2016、2017年）
  </div>
</section>

<section id="sec04">
  <header>
		<h2>歴史</h2>
	</header>
	<div class="message">
    <%= image_tag 'history.jpg' %>川場村での米作りは発掘された土器に米が付着していた事実から弥生時代には始まっていたと推測されている。 田に引く水が豊富である事と、日当たりの良い立地条件から米の作りやすい土地柄であった。 当時川場村周辺を含め沼田城を治めていた真田一族・真田昌幸（要確認）の兵糧増収の政策により、川場村の水田は飛躍的に整備される。<br>この際に作られた「川場用水（真田用水）」は河岸段丘にあった沼田城に水を送る為でもあったが、この用水は現在でも川場村の田を潤す生命線となっている。 <br>昭和１６年より新嘗祭に向けて皇室に献上する米として「皇室献上米」の取り組みが始まった。 以来、川場村から９名（要確認）の斎耕者が皇室に米を献上している。 平成２３年より（要確認）川場小学校５年生が食育の授業の一環として、男子は白装束に烏帽子、女子は絣の着物に鳥追笠の古式衣装を身に纏い、「田植祭」「抜穂祭」などの農業体験授業を行っている。 そこで収穫されたコシヒカリは食味コンクールの「小学校部門」で金賞を数多く受賞している。 昭和30～40年頃より、川場村において、コシヒカリの栽培が開始された。
	</div>
</section>

</body>
