<% provide(:title, "Home") %>
<body>

<nav id="mainnav">
	<p id="menuWrap"><a id="menu"><span id="menuBtn"></span></a></p>
	<div class="panel">
		<ul>
			<li><a href="#header">Top</a></li>
			<li><a href="#sec01">Message</a></li>
			<li><a href="#sec02">Service</a></li>
			<li><a href="#sec03">Journal</a></li>
			<li><a href="#sec04">Profile</a></li>
			<li><a href="#sec05">Contact</a></li>
		</ul>
	</div>
</nav>

<header id="header">
  <%= image_tag 'top.jpg' %>
	<div class="company-name" id="slogan">
		<h1>株式会社Smile<h1>
	</div>
	<div class="slogan" id="slogan">
		<h1>農業を身近に</h1>
	</div>
	<div class="sub-slogan" id="slogan">
		<h2>〜生産者と消費者をつなぐECサイト〜</h2>
	</div>
	<%= link_to '/old' do %>
		<div class="shop-1" id="slogan">
			<h2>Online Shop<hr size=2 color=gray width="80%" align="center">熟成米<h2>
		</div>
	<% end %>
	<%= link_to '/new' do %>
		<div class="shop-2" id="slogan">
			<h2>Online Shop<hr size=2 color=gray width="80%" align="center">新米<h2>
		</div>
	<% end %>
</header>

<!-- Message -->
<section id="sec01">
	<header>
		<h2>Message</h2>
	</header>
	<div class="message">
		日本では、地方から都市部へと人財の流出が起こり、一極集中型の社会となっています。<br>当社は『農業が魅力的で誰もが従事したいと思える産業に』すべく事業を行い、地方の魅力を少しでも上げられるよう、邁進致します。<br>その中で、生産者と消費者をつなぎ、農業を介して地方と都市部の距離を縮めたいと思います。
	</div>
	<div class="inner">
		<ul class="col2">
			<%= link_to '/brand' do %>
				<li>
					<%= image_tag 'brand.jpg' %>
					<div class="brand">
						<h3>Brand Story<hr size=2 color=gray width="80%" align="center">私たちの思い<h3>
					</div>
				</li>
			<% end %>
			<%= link_to '/about' do %>
				<li>
					<%= image_tag 'about.jpg' %>
					<div class="about">
						<h3>About<hr size=2 color=gray width="80%" align="center">当社について<h3>
					</div>
				</li>
			<% end %>
		</ul>
	</div>
</section>
<!-- // Message -->

<!-- Service -->
<section id="sec02">
	<header>
		<h2>Service</h2>
	</header>
	<div class="inner">
		<ul class="col3">
			<a href="/old">
				<li>
					<%= image_tag 'oldrice.jpg' %>
					<div class="service">お手頃米</div>
				</li>
			</a>
			<a href="/new">
				<li>
					<%= image_tag 'newrice.jpg' %>
					<div class="service">ブランド米</div>
				</li>
			</a>
			<li>
				<%= image_tag 'experience2.jpg' %>
				<div class="service">体験</div>
			</li>
		</ul>
	</div>
</section>
<!-- // Service -->

<!-- Journal -->
<section id="sec03">
	<header>
		<h2>Journal</h2>
	</header>
	<div class="inner">
		<ul class="col2">
			<li>
				<%= link_to image_tag('science.png'), '#sec03' %>
				<p>お米の科学①<br><br>お米って体にいいの？</p>
			</li>
			<li>
				<%= link_to image_tag('susugi.png'), '#sec03' %>
				<p>お米の味を最大限引き出す方法①<br><br>どうやってすすぐの？</p>
			</li>
		</ul>
	</div>
	<div class="inner">
		<ul class="col2">
			<li>
				<%= link_to image_tag('scene.jpg'), '#sec03' %>
				<p>【絶景】田園風景①<br><br>白米千牧田</p>
			</li>
			<li>
				<%= link_to image_tag('paeria.jpeg'), '#sec03' %>
				<p>世界のお米料理①<br><br>パエリア＠スペイン</p>
			</li>
		</ul>
	</div>
</section>
<!-- // Journal -->

<!-- Profile -->
<section id="sec04">
	<header>
		<h2>Profile</h2>
	</header>
	<div class="inner">
		<ul class="col2">
			<li>
			</li>
			<li>
			</li>
		</ul>
	</div>
</section>
<!-- // Profile -->

<!-- Contact -->
<section id="sec05">
	<header>
		<h2>Contact</h2>
	</header>
	<div class="inner">
		<ul class="col2">
			<li>
				<dl>
					<dt>社名</dt>
					<dd>Sample Company</dd>
					<dt>代表取締役</dt>
					<dd>見本 太郎</dd>
					<dt>住所</dt>
					<dd>見本県見本市仮区見本町1-3-5</dd>
					<dt>電話番号</dt>
					<dd>01234-567-8901</dd>
					<dt>設立</dt>
					<dd>20XX年5月5日</dd>
					<dt>資本金</dt>
					<dd>1,000,000円</dd>
					<dt>主な取引先</dt>
					<dd><p><a href="#" target="_blank">見本商事株式会社</a></p><p><a href="#" target="_blank">株式会社年中無休商事</a></p><p><a href="#" target="_blank">株式会社仮称</a></p></dd>
				</dl>
			</li>
			<li>
				<div id="map">
					<!-- GOOGLE MAP -->
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3198.5937927089367!2d136.92980931491988!3d36.70829797996758!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5ff781ec5af4ca3f%3A0x2ade3e8e4c2801b8!2z56aP5bKh6aeF!5e0!3m2!1sja!2sus!4v1478313402186" allowfullscreen></iframe>
					<!-- // GOOGLE MAP -->
				</div>
			</li>
		</ul>
	</div>
</section>
<!-- // Contact -->

</body>
