<% provide(:title, "Home") %>
<body>

<nav id="mainnav">
	<p id="menuWrap"><a id="menu"><span id="menuBtn"></span></a></p>
	<div class="panel">
		<ul>
			<li><a href="#header">Top</a></li>
			<li><a href="#sec01">Message</a></li>
			<li><a href="#sec02">Service</a></li>
			<li><a href="#sec03">Profile</a></li>
			<li><a href="#sec04">Contact</a></li>
		</ul>
	</div>
</nav>

<header id="header">
  <%= image_tag 'top.jpg' %>
	<div class="company-name">
		<h1>株式会社Smile<h1>
	</div>
	<div class="slogan">
		<h1>農業を身近に</h1>
	</div>
	<div class="sub-slogan">
		<h2>〜生産者と消費者をつなぐECサイト〜</h2>
	</div>
	<a href="/old">
		<div class="shop-1">
			<h2>Online Shop<hr size=2 color=gray width="80%" align="center">熟成米<h2>
		</div>
	</a>
	<a href="/new">
		<div class="shop-2">
			<h2>Online Shop<hr size=2 color=gray width="80%" align="center">新米<h2>
		</div>
	</a>
</header>

<!-- Message -->
<section id="sec01">
	<header>
		<h2>Message</h2>
	</header>
	<div class="message">
		日本では、地方から都市部へと人財の流出が起こり、一極集中型の社会となっています。<br>当社は『農業が魅力的で誰もが従事したいと思える産業に』すべく事業を行い、地方の魅力を少しでも上げられるよう、邁進致します。<br>その中で、生産者と消費者をつなぎ、農業を介して地方と都市部の距離を縮めたいと思います。
	</div>
	<div class="inner">
		<ul class="col2">
			<li>
				<%= image_tag 'brand.jpg' %>
				<div class="brand">
					<h3>Brand History<hr size=2 color=gray width="80%" align="center">私たちの思い<h3>
				</div>
			</li>
			<li>
				<%= image_tag 'about.jpg' %>
				<div class="about">
					<h3>About<hr size=2 color=gray width="80%" align="center">当社について<h3>
				</div>
			</li>
		</ul>
	</div>
</section>
<!-- // Message -->

<!-- Service -->
<section id="sec02">
	<header>
		<h2>Service</h2>
	</header>
	<div class="wrap">
		<%= image_tag 'gaiyou.png' %>
	</div>
</section>
<!-- // Service -->

<!-- サービス -->
<section id="sec03">
	<header>
		<h2>サービス</h2>
	</header>
	<div class="inner">
		<ul class="col3">
			<li>
				<a href="/old"><%= image_tag 'old.png' %></a>
			</li>
			<li>
				<a href="/new"><%= image_tag 'new.png' %></a>
			</li>
			<li>
				<%= image_tag 'experience.png' %>
			</li>
		</ul>
	</div>
</section>
<!-- // サービス -->

<!-- STORY -->
<section id="sec04">
	<div class="inner">
		<ul class="col2">
			<li>
				<h2>STORY</h2>
				<p>科学的研究というのが近代史学の学問的方法によるちかごろ世間で日本歴史の科学的研究ということがしきりに叫ばれている。研究という意義であるならば、研究という意義であるならばこれは史学の学徒の間においては一般に行われていることであるから、今さらこと新しくいうには及ばないはずである。</p>
			</li>
			<li>
				<h2>SUCCESS</h2>
				<p>ちかごろ世間で日本歴史の科学的研究ということがしきりに叫ばれているということがしきりに叫ばれている。科学的研究というのが近代史学の学問的方法による研究という意義であるならば、これは史学の学徒の間においては一般に行われていることであるから、今さらこと新しくいうには及ばないはずである。</p>
			</li>
		</ul>
	</div>
</section>
<!-- // STORY -->

<!-- PROFILE -->
<section id="sec05">
	<header>
		<h2>PROFILE</h2>
	</header>
	<div class="inner">
		<ul class="col2">
			<li>
				<dl>
					<dt>社名</dt>
					<dd>Sample Company</dd>
					<dt>代表取締役</dt>
					<dd>見本 太郎</dd>
					<dt>住所</dt>
					<dd>見本県見本市仮区見本町1-3-5</dd>
					<dt>電話番号</dt>
					<dd>01234-567-8901</dd>
					<dt>設立</dt>
					<dd>20XX年5月5日</dd>
					<dt>資本金</dt>
					<dd>1,000,000円</dd>
					<dt>主な取引先</dt>
					<dd><p><a href="#" target="_blank">見本商事株式会社</a></p><p><a href="#" target="_blank">株式会社年中無休商事</a></p><p><a href="#" target="_blank">株式会社仮称</a></p></dd>
				</dl>
			</li>
			<li>
				<div id="map">
					<!-- GOOGLE MAP -->
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3198.5937927089367!2d136.92980931491988!3d36.70829797996758!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5ff781ec5af4ca3f%3A0x2ade3e8e4c2801b8!2z56aP5bKh6aeF!5e0!3m2!1sja!2sus!4v1478313402186" allowfullscreen></iframe>
					<!-- // GOOGLE MAP -->
				</div>
			</li>
		</ul>
	</div>
</section>
<!-- // PROFILE -->

</body>
