<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="農業を魅力的な産業にする">
    <meta name="viewport" content="width=device-width">
    <title><%= yield(:title) %> | 農業を魅力的な産業にする</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag "application", 'https://fonts.googleapis.com/earlyaccess/roundedmplus1c.css', :media => "all" %>

    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
    <footer id="footer">
    	Copyright(c) Smile. All Rights Reserved.
      <%= link_to '/privacy' do %>
        Privacy policy.
      <% end %>
      Design by <a href="http://f-tpl.com" target="_blank">http://f-tpl.com</a><!-- ←クレジット表記を外す場合はシリアルキーが必要です http://f-tpl.com/credit/ -->
    </footer>
  </body>
</html>
